:root {
  --primary-color: #4154F1;
  --light_blue-color: #ECEEFE;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --heading-font-family: 'Inter', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 25px;
  letter-spacing: 0;
  color: var(--black-color);
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1300px;
  padding-inline: 20px;
  margin-inline: auto;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.main-heading {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: -2px;
  text-align: center;
}
.h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
}
.h6 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: -1.1px;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.button-primary {
  background: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}
.button-primary:hover {
  background: var(--white-color);
  color: var(--primary-color);
}
.button-white {
  background: var(--white-color);
  color: var(--primary-color);
  border-color: var(--white-color);
}
.button-primary-outline {
  background: var(--white-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.button-primary-outline:hover {
  background: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}
.heading-wrapper {
  width: 65%;
  margin-inline: auto;
  text-align: center;
}
.heading-wrapper .section-heading {
  margin-bottom: 2rem;
}


/* Header CSS Start */
.site-header {
  background: var(--white-color);
  padding-block: 20px;
}
.site-header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.site-header .site-branding {
  display: inline-flex;
}
.site-header .site-navigation {
  padding: 8px;
  background: var(--primary-color);
  border-radius: 100px;
}
.site-header .site-navigation ul {
  display: flex;
  list-style: none;
  gap: 2px;
}
.site-header .site-navigation ul li a {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  display: inline-flex;
  color: var(--white-color);
  padding: 12px 22px;
  border-radius: 100px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.site-header .site-navigation ul li a:hover {
  background: #5567ff;
}
/* Header CSS End */

/* Home CSS Start */
.hero {
  background: radial-gradient(50% 50% at 50% 50%, #4154F1 0%, #092C7E 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  padding-block: 150px 120px;
  position: relative;
  overflow: hidden;
}
.hero::before {
  position: absolute;
  content: "";
  width: 523px;
  height: 100%;
  bottom: 0;
  left: 0;
  background-image: url('images/hero-vector.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.hero .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.hero .hero-content,
.hero .hero-image {
  width: 48%;
  color: #FFF;
}
.hero .hero-content .odoo-badge {
  display: inline-flex;
  padding: 15px 20px;
  background: #FFFFFF33;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  margin-bottom: 3rem;
}
.hero .hero-content .odoo-badge img {
  max-height: 40px;
  object-fit: contain;
}
.hero .hero-content .hero-title {
  margin-bottom: 3rem;
  text-align: left;
}
.hero .hero-content .hero-location {
  margin-top: 3rem;
  border: 1px solid #D1D1D1;
  border-radius: 50px;
  padding: 14px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}
.hero .hero-content .hero-location .location-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.hero .location-block .block-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  position: relative;
}
.hero .location-block .block-wrapper.business::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  top: 0;
  left: -12px;
  background: var(--white-color);
}
.hero .location-block .block-wrapper .icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: var(--white-color);
  border-radius: 50px;
}
.hero .location-block .block-wrapper .field-wrapper {
  display: flex;
  flex-direction: column;
}
.hero .location-block .block-wrapper .hero-location-field {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.7px;
  appearance: none;
  color: var(--white-color);
  padding: 0 4px;
  margin-inline: -4px;
}
.hero .location-block .block-wrapper .hero-location-field option {
  color: #000;
}
.hero .location-block .block-wrapper .hero-location-field::placeholder {
  color: var(--white-color);
  font-size: 12px;
  opacity: 1;
}
.hero .hero-content .hero-location .btn {
  border-radius: 50px;
  box-shadow: 2px 4px 12px 0px #00000026;
  color: var(--black-color);
}
.hero .hero-content .hero-location .btn:hover {
  background: var(--black-color);
  color: var(--white-color);
  border-color: var(--black-color);
}
.hero .hero-image img {
  border-radius: 20px;
}

/* Trust Partner CSS Start */
.trust-partner {
  padding-top: 3rem;
}
.trust-partner .section-heading.gradient-heading {
  font-weight: 600;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
  background: linear-gradient(180deg, #4154F1 18.57%, rgba(65, 84, 241, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.trust-partner .partner-swiper {
  position: relative;
}
.trust-partner .partner-swiper::before,
.trust-partner .partner-swiper::after {
  position: absolute;
  content: "";
  width: 122px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 86.06%);
}
.trust-partner .partner-swiper::after {
  left: auto;
  right: 0;
  transform: scaleX(-1);
}
.trust-partner .partner-swiper .swiper-slide {
  width: auto;
}
/* Trust Partner CSS End */

/* Key Highlight CSS Start */
.key-highlight {
  padding-block: 100px;
}
/* Key Highlight CSS End */

/* Our Solution CSS Start */
.our-solution .solution-cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 60px 20px;
  margin-top: 65px;
}
.our-solution .solution-cards .card-item {
  background: var(--light_blue-color);
  box-shadow: 0px 10px 16px 0px #0000000D;
  border-radius: 16px;
  padding: 50px 25px 30px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.our-solution .solution-cards .card-item:hover {
  color: var(--white-color);
}
.our-solution .solution-cards .card-item::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border-radius: 16px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.our-solution .solution-cards .card-item:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.our-solution .solution-cards .card-item .card-content {
  position: relative;
}
.our-solution .solution-cards .card-title {
  margin-bottom: 1.3rem;
}
.our-solution .solution-cards .icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: var(--light_blue-color);
  border-radius: 64px;
  outline: 5px solid #FFF;
  position: absolute;
  top: -30px;
  left: 30px;
  transition: all 0.4s ease-in-out;
}
.our-solution .solution-cards .card-item:hover .icon-wrapper {
  left: 15px;
}






.our-solution .load-more-cta {
  display: none;
}
/* Our Solution CSS End */

/* Home CSS End */